.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
*.swp
*.swo
*.lock
.Trashes
._*

*.bak
*.bck
*.dcm
*.sch-bak
*-backups/
*-rescue/
*-cache.lib
*-rescue.lib
*.net
*.xml
*.gbr
*.gtp
*.gto
*.gts
*.gm*
*.gbl
*.gbo
*.gbs
*.drl
*.rpt
*.zip
*.wrl
*.step
*.3dshapes/
fp-lib-table
sym-lib-table

*.FCStd1
*.FCBak
*.pyc
*.log
*.cfg
*.tmp
*.autosave.*
